#
# Created by Moloko (2024)
# GitHub https://github.com/levrules/mod-guild-system
#

[worldserver]

###########################################################################################
#
#   GUILD SYSTEM
#
#   SETTINGS
#   RATE
#
###########################################################################################

# SETTINGS
#
#   GuildSystem.Enable
#           0 - disabled
#           1 - enabled
#   default: 1 (enabled)
#

GuildSystem.Enable = 1

#
#   GuildSystem.Debug
#   Description: Debugging the module, data is displayed in the console
#           0 - disabled
#           1 - enabled
#   default: 0 (disabled)
#

GuildSystem.Debug = 0

#
#   GuildSystem.Announce
#   Description: Displays information about gaining experience for certain actions
#           0 - disabled
#           1 - enabled
#   default: 1 (enabled)
#

GuildSystem.Announce = 1

#   RATE
#
#   GuildSystem.RateXP
#           1+ - base rate xp
#   default: 1
#

GuildSystem.RateXP = 1

#
#   GuildSystem.RateXP.KillBoss
#           1+ - rate xp for kills boss
#   default: 1
#

GuildSystem.RateXP.KillBoss = 1

#
#   GuildSystem.RateXP.Quest
#           1+ - rate xp Completed Quest
#   default: 1
#

GuildSystem.RateXP.Quest = 1

#
#   GuildSystem.RateXP.PvP
#           1+ - rate xp PVP activity (battlegrounds and arenas)
#   default: 3
#

GuildSystem.RateXP.PvP = 3

#
#   GuildSystem.WeeklyXP.Enable
#           0 - disabled
#           1 - enabled
#   default: 1 (enabled)
#

GuildSystem.WeeklyXP.Enable = 1

#
#   GuildSystem.WeeklyXP
#           1+ - weekly XP cap per guild
#   default: 10000000
#

GuildSystem.WeeklyXP = 10000000

#
#   GuildSystem.WeeklyXP.WDay
#   Description: Weekday for weekly XP cap reset (local server time)
#           0 - Sunday
#           1 - Monday
#           2 - Tuesday
#           3 - Wednesday
#           4 - Thursday
#           5 - Friday
#           6 - Saturday
#   default: 2 (Tuesday)
#

GuildSystem.WeeklyXP.WDay = 2

#
#   GuildSystem.WeeklyXP.Hours
#           0-23 - hour in 24h format
#   default: 6
#

GuildSystem.WeeklyXP.Hours = 6

#
#   GuildSystem.WeeklyXP.Minute
#           0-59 - minutes
#   default: 0
#

GuildSystem.WeeklyXP.Minute = 0
